.soySagy{
    width: 100%;
    height: 680px;
    background: #008EBA;
    display:flex;
}
.contenedorSoySagy{
    display: flex;
    align-items: center;
    position: relative;
    margin: auto;
}
.container{
    width: 95%;
    max-width: 1600px;
}
.imagenesHeader {
    width: 50%;
}
.imgSoySagy{
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    /*left: 525px;*/
}
.questionSoySagy{
    min-height: 434px;
    width: 50%;
    font-family: 'Poppins';
    font-weight: 900;
    font-size: 50px;
    line-height: 55px;
    color: #FFFFFF;
}
.chatSoySagy{
    position: absolute;
    width: 510px;
    height: 125px;
    color: #00729A;
    bottom: 20%;
}
.headerText{
    position: relative;
    font-family: 'Poppins';
    font-weight: 700;
    font-size: 30px;
    line-height: 100%;
    left:15%;
}
.bodyText{
    position: relative;
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 20px;
    line-height: 100%;
    left:15%;
}
.imgChathome{
    position: absolute;
    width: 584px;
    height: 154px;
    top: -27px;
    left:6%;
}
.buttonSoySagyTeCuento{
    position: absolute;
    width: 266px;
    height: 58px;
    left: 0;
    right: 10rem;
    margin: auto;
    top: 57rem;
    background-color: #00B27A;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
    font-size: 3.2rem;
    font-weight: 1000;
    color: white;
    border: none;
    border-radius: 30px;
    padding: 0px;
}
.buttonSoySagyTeCuento:hover{
    background-color: #00729A;
}