.containerHablemos{
    width: 100%;
    height: 594px;
    background: #E9F8FF;
    display: flex;
}
.leftHablemos{
    width: 60%;
    text-align: center;
    align-self: center;
}
.rigthHablemos{
    width:40%;
    text-align: left;
    align-self: center;
}

.mainHeaderHablemos{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 65px;
    color: #008EBA;
}
.bodyHablemos{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    color: #606060;
    margin-top: 5%;
    margin-bottom: 5%;
    width: 405px;
}
.buttonSagyHablemos{
    border: none;
    color: white;
    padding: 10px 30px;
    width: 240px;
    background: #00B478;
    border-radius: 30px;

    cursor: pointer;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 27px;
}
.wpp{
    float: left;
    margin-right: 2%;
}
.buttonSagyHablemos:hover{
    background-color: #00729A;
}
