.ComoAyudo{
    width: 100%;
    height: 1020px;
    background: #E9F8FF;
}
.containerHeader{
    text-align: center;
    padding-block: 1%;
}
.questionComoAyudo{
    margin: auto;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    color: #00729A;
}
.headerCA{
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 30px;
    /* identical to box height, or 217% */
    color: #1095BE;
}
.descriptionHeader{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 65px;
    color: #606060;
}
.containerComoAyudo{
    display: flex;
    align-items: center;
    position: relative;
    padding-block: 1%;
}
.sectionLeft{
    display: block;
    margin: auto;
    padding-left: 2%;
}
.imgComoAyudo{
    width: 521px;
    height: 512px;
}
.sectionRigth{
    padding-right: 2%;
    display: table-column-group;
    
}
.itemsR{
    align-items: center;
    justify-content: left;
    display: flex;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    color: #606060;
}
.imgIconsComoAyudo{
    width: 95px;
    height: 95px;
}


.headerFinal{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    text-align: center;
    color: #00739D;
}
.headerSecond{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 50px;
    text-align: center;
    color: #00739D;
    padding-bottom: 1.5%;
}
.buttonClickAquiCH{
    display: block;
    width: 266px;
    height: 58px;
    left: 0;
    right: 0;
    margin: auto;
    background-color: #00B27A;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
    font-weight: 1000;
    color: white;
    border: none;
    border-radius: 30px;
    padding: 0%;
    margin-top: 0.5%;
    margin-bottom: 0.5%;
}
.buttonClickAquiCH:hover{
    background-color: #00739D;
}
